body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1711px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:912px;
}
#u8995 {
  position:absolute;
  left:553px;
  top:186px;
  width:429px;
  height:912px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u8996 {
  position:absolute;
  left:2px;
  top:448px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(250, 250, 250, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8997 {
  position:absolute;
  left:584px;
  top:306px;
  width:375px;
  height:667px;
}
#u8998 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8999 {
  position:absolute;
  left:584px;
  top:366px;
  width:375px;
  height:71px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9000 {
  position:absolute;
  left:2px;
  top:28px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(34, 181, 137, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(34, 181, 137, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9001 {
  position:absolute;
  left:584px;
  top:304px;
  width:375px;
  height:55px;
}
#u9002 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u9003 {
  position:absolute;
  left:586px;
  top:303px;
  width:373px;
  height:20px;
}
#u9004 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9005 {
  position:absolute;
  left:755px;
  top:329px;
  width:17px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9006 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u9007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9007 {
  position:absolute;
  left:585px;
  top:921px;
  width:375px;
  height:52px;
}
#u9008 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u9009 {
  position:absolute;
  left:606px;
  top:955px;
  width:46px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u9010 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u9011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u9011 {
  position:absolute;
  left:818px;
  top:957px;
  width:48px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u9012 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u9013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u9013 {
  position:absolute;
  left:892px;
  top:957px;
  width:34px;
  height:14px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u9014 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u9015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u9015 {
  position:absolute;
  left:678px;
  top:956px;
  width:48px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u9016 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u9017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u9017 {
  position:absolute;
  left:691px;
  top:929px;
  width:23px;
  height:23px;
}
#u9018 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#ADBBBB;
  text-align:center;
}
#u9019 {
  position:absolute;
  left:827px;
  top:927px;
  width:30px;
  height:32px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#ADBBBB;
  text-align:center;
}
#u9020 {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u9021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#6699FF;
}
#u9021 {
  position:absolute;
  left:758px;
  top:955px;
  width:31px;
  height:14px;
  font-size:10px;
  color:#6699FF;
}
#u9022 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u9023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u9023 {
  position:absolute;
  left:758px;
  top:927px;
  width:29px;
  height:32px;
  font-size:28px;
  color:#6699FF;
}
#u9024 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9025 {
  position:absolute;
  left:915px;
  top:931px;
  width:6px;
  height:6px;
  color:#FF3333;
}
#u9026 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9027 {
  position:absolute;
  left:604px;
  top:377px;
  width:50px;
  height:50px;
}
#u9028 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9029 {
  position:absolute;
  left:583px;
  top:449px;
  width:375px;
  height:51px;
}
#u9030 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9031 {
  position:absolute;
  left:607px;
  top:463px;
  width:111px;
  height:20px;
}
#u9032 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u9033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9033 {
  position:absolute;
  left:664px;
  top:392px;
  width:43px;
  height:20px;
}
#u9034 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u9035 {
  position:absolute;
  left:920px;
  top:326px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u9036 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  word-wrap:break-word;
}
#u9037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9037 {
  position:absolute;
  left:942px;
  top:332px;
  width:6px;
  height:6px;
  color:#FF3333;
}
#u9038 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u9039 {
  position:absolute;
  left:912px;
  top:387px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u9040 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u9041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u9041 {
  position:absolute;
  left:912px;
  top:458px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u9042 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u9043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9043 {
  position:absolute;
  left:584px;
  top:632px;
  width:375px;
  height:93px;
}
#u9044 {
  position:absolute;
  left:2px;
  top:38px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9045 {
  position:absolute;
  left:608px;
  top:646px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9046 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u9047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u9047 {
  position:absolute;
  left:910px;
  top:643px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u9048 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u9049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u9049 {
  position:absolute;
  left:596px;
  top:678px;
  width:351px;
  height:1px;
}
#u9050 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9051 {
  position:absolute;
  left:608px;
  top:689px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9052 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9053 {
  position:absolute;
  left:909px;
  top:689px;
  width:36px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9054 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u9055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9055 {
  position:absolute;
  left:584px;
  top:514px;
  width:375px;
  height:51px;
}
#u9056 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9057 {
  position:absolute;
  left:607px;
  top:528px;
  width:125px;
  height:20px;
}
#u9058 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u9059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u9059 {
  position:absolute;
  left:913px;
  top:523px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u9060 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u9061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9061 {
  position:absolute;
  left:584px;
  top:564px;
  width:375px;
  height:51px;
}
#u9062 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9063 {
  position:absolute;
  left:608px;
  top:578px;
  width:111px;
  height:20px;
}
#u9064 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u9065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u9065 {
  position:absolute;
  left:913px;
  top:573px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u9066 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u9067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9067 {
  position:absolute;
  left:586px;
  top:851px;
  width:375px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9068 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u9069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9069 {
  position:absolute;
  left:132px;
  top:632px;
  width:375px;
  height:47px;
}
#u9070 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9071 {
  position:absolute;
  left:156px;
  top:646px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9072 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u9073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u9073 {
  position:absolute;
  left:457px;
  top:640px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u9074 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u9075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9075 {
  position:absolute;
  left:132px;
  top:463px;
  width:279px;
  height:150px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9076 {
  position:absolute;
  left:10px;
  top:10px;
  width:259px;
  word-wrap:break-word;
}
#u9077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9077 {
  position:absolute;
  left:616px;
  top:927px;
  width:25px;
  height:25px;
}
#u9078 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9079 {
  position:absolute;
  left:897px;
  top:932px;
  width:25px;
  height:25px;
}
#u9080 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:116px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9081 {
  position:absolute;
  left:1015px;
  top:222px;
  width:165px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9082 {
  position:absolute;
  left:10px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u9083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:126px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9083 {
  position:absolute;
  left:1015px;
  top:458px;
  width:170px;
  height:126px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9084 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u9085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9085 {
  position:absolute;
  left:132px;
  top:765px;
  width:375px;
  height:47px;
}
#u9086 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9087 {
  position:absolute;
  left:156px;
  top:779px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9088 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u9089 {
  position:absolute;
  left:457px;
  top:773px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u9090 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u9091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9091 {
  position:absolute;
  left:584px;
  top:735px;
  width:375px;
  height:93px;
}
#u9092 {
  position:absolute;
  left:2px;
  top:38px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9093 {
  position:absolute;
  left:608px;
  top:749px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9094 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u9095 {
  position:absolute;
  left:910px;
  top:746px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u9096 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u9097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u9097 {
  position:absolute;
  left:596px;
  top:781px;
  width:351px;
  height:1px;
}
#u9098 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9099 {
  position:absolute;
  left:608px;
  top:792px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9100 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9101 {
  position:absolute;
  left:893px;
  top:792px;
  width:50px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9102 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u9103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:119px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9103 {
  position:absolute;
  left:132px;
  top:850px;
  width:279px;
  height:119px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9104 {
  position:absolute;
  left:10px;
  top:10px;
  width:259px;
  word-wrap:break-word;
}
#u9105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:912px;
}
#u9105 {
  position:absolute;
  left:1282px;
  top:186px;
  width:429px;
  height:912px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u9106 {
  position:absolute;
  left:2px;
  top:448px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(250, 250, 250, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9107 {
  position:absolute;
  left:1313px;
  top:306px;
  width:375px;
  height:667px;
}
#u9108 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9109 {
  position:absolute;
  left:1313px;
  top:366px;
  width:375px;
  height:71px;
}
#u9110 {
  position:absolute;
  left:2px;
  top:28px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(34, 181, 137, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(34, 181, 137, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9111 {
  position:absolute;
  left:1313px;
  top:304px;
  width:375px;
  height:55px;
}
#u9112 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u9113 {
  position:absolute;
  left:1315px;
  top:303px;
  width:373px;
  height:20px;
}
#u9114 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9115 {
  position:absolute;
  left:1484px;
  top:329px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9116 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9117 {
  position:absolute;
  left:1591px;
  top:377px;
  width:50px;
  height:50px;
}
#u9118 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9119 {
  position:absolute;
  left:1312px;
  top:457px;
  width:375px;
  height:51px;
}
#u9120 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9121 {
  position:absolute;
  left:1336px;
  top:471px;
  width:29px;
  height:20px;
}
#u9122 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9123 {
  position:absolute;
  left:1588px;
  top:476px;
  width:43px;
  height:20px;
}
#u9124 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9125 {
  position:absolute;
  left:1336px;
  top:392px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9126 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u9127 {
  position:absolute;
  left:1315px;
  top:319px;
  width:63px;
  height:37px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u9128 {
  position:absolute;
  left:0px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u9129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9129 {
  position:absolute;
  left:1359px;
  top:328px;
  width:32px;
  height:20px;
  color:#FFFFFF;
}
#u9130 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u9131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9131 {
  position:absolute;
  left:1312px;
  top:507px;
  width:375px;
  height:51px;
}
#u9132 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9133 {
  position:absolute;
  left:1335px;
  top:521px;
  width:29px;
  height:20px;
}
#u9134 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9135 {
  position:absolute;
  left:1587px;
  top:522px;
  width:33px;
  height:16px;
}
#u9136 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9137 {
  position:absolute;
  left:1312px;
  top:557px;
  width:375px;
  height:51px;
}
#u9138 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9139 {
  position:absolute;
  left:1335px;
  top:571px;
  width:29px;
  height:20px;
}
#u9140 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9141 {
  position:absolute;
  left:1587px;
  top:572px;
  width:73px;
  height:16px;
}
#u9142 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9143_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u9143 {
  position:absolute;
  left:173px;
  top:739px;
  width:30px;
  height:40px;
}
#u9144 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u9145_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u9145 {
  position:absolute;
  left:568px;
  top:739px;
  width:30px;
  height:40px;
}
#u9146 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u9147_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u9147 {
  position:absolute;
  left:126px;
  top:831px;
  width:30px;
  height:40px;
}
#u9148 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u9149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9149 {
  position:absolute;
  left:584px;
  top:723px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u9150 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9151 {
  position:absolute;
  left:203px;
  top:735px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u9152 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9153 {
  position:absolute;
  left:156px;
  top:831px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u9154 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9155_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u9155 {
  position:absolute;
  left:1289px;
  top:511px;
  width:30px;
  height:40px;
}
#u9156 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u9157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9157 {
  position:absolute;
  left:1308px;
  top:505px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u9158 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:81px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9159 {
  position:absolute;
  left:1219px;
  top:551px;
  width:100px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9160 {
  position:absolute;
  left:10px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
